.container {
  position: relative;
}
.container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
  background: rgb(171,171,171);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 32%, rgba(255,255,255,1) 93%);
}

.tabsWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow: scroll;
}
@media (max-width: 768px) {
  .tabsWrapper {
    justify-content: flex-start;
    margin-bottom: 15px;
  }
}
.tabsWrapper::-webkit-scrollbar {
  display: none;
}
