.app {
  height: 100%;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 66px;
  line-height: 1.1;
  text-align: center;
  margin: 30px 0;
}
.title span {
  font-weight: 300;
  color: #ff8d8b;
  transition: color 500ms;
}
@media (max-width: 768px) {
  .title {
    padding-left: 15px;
    text-align: left;
    margin: 13px 0;
  }
}
@media (max-width: 576px) {
  
}

.container{
  min-height: 100%;
  display: flex;
  flex-direction:column;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container{
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container{
    max-width: 868px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .container {
    min-width: 319px;
  }
}

.content {
  flex: 1 0 auto;
}

