.app {
  height: 100%;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 3.5em;
  line-height: 1.1;
  margin: 0.5em 0;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .title {
    padding-left: 10px;
  }
  .title {
    font-size: 2.5em;
  }
}

.container{
  min-height: 100%;
  display: flex;
  flex-direction:column;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container{
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container{
    max-width: 868px;
  }
}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  .container {
    min-width: 319px;
    padding: 0;
  }
}

.content {
  flex: 1 0 auto;
}

