.app {
  height: 100%;
}

.title {
  margin: 0;
}

.container{
  min-height: 100%;
  display: flex;
  flex-direction:column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #ebebeb;
}
@media (max-width: 1200px) {
  .container{
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container{
    max-width: 868px;
  }
}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {

}

.content {
  flex: 1 0 auto;
}






