.modalText {
  position: relative;
  background-color: #ababab;
  margin-bottom: 1em;
  padding: 10px;
}

.modalTextClosed{
  cursor: pointer;
}

.text {
  font-size: 1em;
  padding-right: 30px;
}

.textHidden {
  height: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.close {
  width: 40px;
  height: 40px;
  color: #fff;
  background: left 15px bottom 15px no-repeat url('../img/close.png');
  background-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.open{
  background-image: url('../img/arrow-down.png');
}