.tabsNav {
  background-color: rgb(142, 210, 255);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.tabsButton {
  font-size: 1em;
  background: none;
  display: block;
  min-width: 20%;
  padding: 1em;
  border: 2px solid #3b3b3b;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.tabsButton:hover {
  background-color: cadetblue;
  transition: background-color 300ms ease-out;
}

.tabsButton:active, .tabsButton:focus {
  background-color: cadetblue;
}
.active {
  background-color: cadetblue;
}

@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  .tabsButton{
    width: 25%;
    border-right: 0;
    border-radius: 0;
    padding: 0.8em;
    white-space: nowrap;
  }
  .tabsButton:first-child{
    border-left:0;
  }
}
@media (max-width: 576px) {
  .tabsButton{
    padding: 0.8em 0.5em;
    overflow: hidden;
    font-size: 0.9rem;
  }
}
@media (max-width: 330px) {
  .tabsButton{
    padding: 0.8em 0;
  }
}