.wallPost {
  position:relative;
  width: calc(33.333% - 10px);
  box-sizing: border-box;
  margin-bottom: 15px;
  overflow:hidden;
  box-shadow: 0px 3px 6px #00000029;
}

@media (max-width: 992px) {
  .wallPost {
    width: calc(50% - 0.25em);
  }
}
@media (max-width: 768px) {
  .wallPost {
    width: 100%;
  }
  .after{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    background: center no-repeat url('../img/post.svg');
    /* background-size: 15px; */
  }
}

.wallPost p {
  font-size: 14px;
  line-height: 19px;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px;
}

.wallPost p a {
  transition: color 100ms;
}
.wallPost p a:hover {
  color: #f28482;
  transition: color 200ms;
}

.wallImg{
  display: block;
  width: 100%;
  height: 35vh;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1200px) {
  .wallImg {
    height: 35vh;
  }
}
@media (max-width: 992px) {
  .wallImg {
    height: 45vh;
  }
}
@media (max-width: 768px) {
  .wallImg {
    width: 100%;
    height: 65vh;
  }
}
@media (max-width: 576px) {
  .wallImg {
    height: 55vh;
  }
}

.slider {
  height: 35vh;
}
@media (max-width: 1200px) {
  .slider {
    height: 35vh;
  }
}
@media (max-width: 992px) {
  .slider {
    height: 45vh;
  }
}
@media (max-width: 768px) {
  .slider {
    width: 100%;
    height: 65vh;
  }
}
@media (max-width: 576px) {
  .slider {
    height: 55vh;
  }
}

.bullet{
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 2.5px;
}

.arrow{
  border-bottom: 2px solid #f0efeb;
  border-left: 2px solid #f0efeb;
  padding: 15px;
  margin-right: 23px;
  margin-left: 23px;
  opacity: 0.5;
  opacity: 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .arrow {
    opacity: 1;
  }
}
.wallPost:hover .arrow{
  opacity: 1;
  transition: opacity ease-in-out 300ms;
}