.wall {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.wallPost {
  width: calc(33.333% - 0.25em);
  box-sizing: border-box;
  margin-bottom: 0.5em;
  /* height: 400px; */
  background-color: rgb(209, 209, 209);
  border: 2px solid #3b3b3b;
  border-radius: 10px;
  overflow:hidden;
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  .wallPost {
    width: calc(50% - 0.25em);
  }
}
@media (max-width: 768px) {
  .wallPost {
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
}
@media (max-width: 576px) {
  
}

.wallPost p {
  white-space: pre-line;
  font-size: 0.9em;
  word-wrap: break-word;
  padding: 0.5em;
}

.wallPost p a {
  color: #009ee5;
  transition: color 100ms;
}
.wallPost p a:hover {
  color: #7ac1e2;
  transition: color 200ms;
}

.wallImg{
  display: block;
  /* width: calc(50% - 0.25em); */
  width: 100%;
}
@media (max-width: 768px) {
  .wallImg{
    width: 100%;
    border-radius: 0;
  }
}