@import 'src/index.scss';

.tabsButton {
  position: relative;
  font: var(--font-menu-desktop);
  text-transform: none;
  text-decoration: none;
  padding: 0 2.8125rem 0 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;

  @include breakpoint(sm) {
    font: var(--font-menu-mobile);
    padding: 0 1rem;
  }

  &::before {
    content: '';
    position: absolute;
    width: 1rem;
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    top: 50%;
    left: -0.3125rem;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.active {
  color: var(--color-accent);
  transition: color 300ms ease-in-out;

  &::before {
    content: '';
    position: absolute;
    width: 1rem;
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    top: 50%;
    left: -0.3125rem;
    opacity: 1;
  }
}
