@import 'src/index.scss';

.container {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1.25rem;
    background: rgb(171,171,171);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 32%, rgba(255,255,255,1) 93%);
  }
}

.tabsWrapper {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;
  overflow: scroll;

  @include breakpoint(sm) {
    justify-content: flex-start;
    margin: 1rem 0 0.75rem 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
